* {
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
:root {
    // --main-color: #DE742BE6;
    --back-white: #fcfcfc;
    --back-orange: rgba(222, 116, 43, 0.9);
    --button-orange: #DF803E;
    --button-grey: #C9C9C9;
    --text-orange: #DF803E;
    --text-grey: #5C5C5C;
}
//для все секций (кроме promo) паддинг одинаков
section {
    padding: 112px 0 120px 0;
    overflow: hidden;
}
.container {
    padding: 0 120px;
}