@media (max-width: 1600px) {
    .container {
        padding: 0 100px;
    }
    .triangle {
        border-bottom: 716.36px solid var(--back-white);
        right: -229px;
    }
    .header__menu ul li a {
        font-size: 21px;
    }
    .header__social {
        gap: 15px;
    }
    .promo__subtitle {
        font-size: 46px;
    }
    .about__wrapper {
        justify-content: space-around;
    }
    .education__wrapper {
        grid-template: repeat(2, auto) / 380px auto;
    }
    .education__img {
        align-self: self-end;
    }
    .education__items {
        gap: 50px;
    }
}
@media (max-width: 1400px) {
    .header__menu ul {
        justify-content: space-evenly;
    }
    .header__social {
        display: none;
    }
    .promo__title {
        font-size: 68px;
    }
    .promo__subtitle {
        font-size: 40px;
    }
    .chapter__text {
        font-size: 40px;
    }
    .offers__item {
        font-size: 30px;
    }
    .giraffe2 {
        display: none;
    }
    .education__wrapper {
        gap: 60px 40px;
    }
    .education__item p {
        font-size: 20px;
        margin-left: 87px;
    }
    .item_circle_num {
        gap: 20px;
        font-size: 28px;
    }
}
@media (max-width: 1200px) {
    .header__wrapper {
        justify-content: end;
    }
    .header__menu {
        // position: fixed;
        // top: 0;
        // left: -100%;
        grid-column: 1/2;
        width: 100%;
        height: 100vh;
        // background-color: var(--back-white);
        padding: 138px 24px 24px 24px;
        z-index: 3;
        ul {
            flex-direction: column;
        }
        display: none;
    }
    .hamburger {
        display: block;
        grid-row: 1;
        grid-column: 2/2;
        z-index: 3;
    }
    .promo {
        min-height: 640px;
    }
    .promo__wrapper {
        margin-top: 32px;
        flex-direction: column;
    }
    .promo__title {
        text-align: center;
        font-size: 68px;
        margin-top: 0;
    }
    .promo__subtitle {
        margin-top: 8px;
        max-width: inherit;
    }
    .promo__descr {
        width: 100%;
    }
    .promo__btn {
        display: block;
        margin: 0 auto;
        margin-top: 35px;
    }
    // .promo__img {
    //     margin: 0 auto;
    //     max-height: 450px;
    // }
    .triangle {
        right: inherit;
        top: inherit;
        left: 50%;
        bottom: -20px;
        border-left: 60vw solid transparent;
        border-right: 60vw solid transparent;
        border-bottom: 50vh solid var(--back-white);
        transform: translateX(-50%); 
    }
    .chapter {
        grid-template-columns: 1fr;
    }
    .chapter__text {
        margin-top: 24px;
    }
    .about__wrapper {
        grid-template-columns: repeat(auto-fit, 360px);
        gap: 40px 55px;
    }
    .about__item {
        font-size: 30px;
        padding: 40px 0;
        img {
            max-width: 180px;
            max-height: 180px;
        }
    }
    .offers__item {
        font-size: 26px;
    }
    .education__wrapper {
        grid-template-columns: 1fr;
    }
    .education__descr {
        .chapter__text {
            margin-top: 24px;
        }
        .item_circle_num {
            padding: 16px 0 0 0;
        }
        .item__first {
            padding: 24px 0 0 0;
        }
    }
    .education__img {
        grid-row: 3;
        margin-top: inherit;
    }
    .education__formats {
        grid-column: inherit;
    }
    .education__items {
        flex-direction: column;
        gap: inherit;
        margin-top: 20px;
    }
    .education__item p {
        font-size: 26px;
    }
    .text_left {
        text-align: center;
    }
}

@media (max-width: 992px) {
    .container {
        padding: 0 50px;
    }
    .about__wrapper {
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 40px 50px;
    }
    .about__item {
        font-size: 24px;
        padding: 20px 0;
        img {
            max-width: 150px;
            max-height: 150px;
        }
    }
    .offers {
        padding-bottom: 200px;
    }
    .giraffe1 {
        position: absolute;
        left: 50px;
        bottom: 50px;
        width: 159px;
        height: 225px;
    }
    .giraffe2 {
        display: block;
        position: absolute;
        right: 50px;
        bottom: 50px;
        width: 159px;
        height: 225px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 40px;
    }
    section {
        padding: 50px 0 65px 0;
    }
    .offers {
        padding-bottom: 0;
    }
    .giraffe1 {
        left: -10px;
        bottom: -140px;
    }
    .giraffe2 {
        right: -10px;
        bottom: -100px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 15px;
    }
    .message__window {
        padding: 80px 40px;
        width: 400px;
        p {
            font-size: 24px;
        }
    }
    .message__form {
        input {
            font-size: 16px;
        }
    }
    .header__full {
        & .header__title {
            font-size: 32px;
            align-self: end;
        }
        & .header__menu {
            width: 100%;
            text-align: left;
            & ul {
                gap: 24px;
                & li a {
                    font-size: 21px;
                }
            }
            & .header__giraffe {
                height: 195px;
            }
        }
    }
    .promo__wrapper {
        height: auto;
     }
    .promo__title {
        font-size: 50px;
    }
    .promo__subtitle {
        font-size: 30px;
    }
    // .promo__img {
    //     max-height: 140px;
    // }
    .promo__btn {
        width: 191px;
        height: 36px;
        font-size: 14px;
    }
    .giraffe_promo {
        width: 140px;
        height: 195px;
    }
    .triangle {
        border-bottom: 25vh solid var(--back-white);
    }
    .chapter {
        &__section {
            font-size: 14px;
        }
        &__text {
            font-size: 24px;
        }
    }
    .about__wrapper {
        grid-template-columns: repeat(auto-fit, 145px);
        gap: 20px;
    }
    .about__item {
        font-size: 14px;
        padding: 13px 0;
        img {
            max-width: 66px;
            max-height: 66px;
        }
    }
    .offers {
        min-height: inherit;
        padding-bottom: 65px;
    }
    .offers__wrapper {
        margin-top: 27px;
    }
    .offers__item {
        font-size: 16px;
        gap: 8px;
    }
    .circle_num {
        min-width: 36px;
        min-height: 36px;
        font-size: 16px;
    }
    .offers__btn {
        margin-top: 24px;
        height: 36px;
        width: 155px;
        font-size: 14px;
    }
    .education__wrapper {
        gap: 32px;
    }
    .education__item p {
        font-size: 16px;
        line-height: 19px;
    }
    .education {
        .item_circle_num {
            font-size: 20px;
        }
    }
}
