.promo {
    position: relative;
    max-width: 1920px;
    min-height: 1080px;
    margin: 0 auto;
    background-color: var(--back-orange);
    overflow: hidden;
    padding: 0;
    padding-bottom: 50px;
    // height: 100vw;
    &__wrapper {
        margin-top: 91px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 760px;
    }
    &__title {
        margin-top: 63px;
        font-size: 90px;
        font-weight: 600;
        line-height: 106px;
        text-align: left;
    }
    &__subtitle {
        margin-top: 24px;
        text-align: left;
        max-width: 875px;
    }
    &__descr {
        width: 50%;
    }
    &__btn {
        margin-top: 91px;
        border: none;
        &:hover {
            color: var(--text-orange);
        }
    }
}
.header {
    padding: 45px 0 35px 0;
    border-bottom: 2px solid var(--back-white);
    min-height: 104px;
    &__wrapper {
        display: flex;
    justify-content: space-between;
    }
    &__menu {
        align-self: end;
        transition: all 1s;
        z-index: 1;
        & ul {
            display: flex;
            gap: 33px;
            list-style-type: none;
            margin: 0;
            & a {
                font-size: 26px;
                color: #000;
                transition: all 0.5s;
                &:hover {
                    text-decoration: none;
                    color: #FCFCFC;
                }
            }
        }
    }
    &__social {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 24px;
        z-index: 1;
        & a {
            max-width: 40px;
            max-height: 40px;
            & svg {
                width: 100%;
                height: 100%;
            }
            &:hover {
                .svg_phone path {
                    stroke: #FCFCFC;
                }
                .svg_mail path {
                    fill: #FCFCFC;
                }
                .svg_mail rect {
                    stroke: #FCFCFC;
                }
                .svg_location path {
                    fill: #FCFCFC;
                }
                .svg_location circle {
                    stroke: #FCFCFC;
                }
            }
        }
    }
    &__title, &__giraffe, &__devider {
        display: none;
    }
}
.giraffe_promo {
    width: 539px;
    height: 761px;
    z-index: 1;
}

.header__full {
    position: fixed;
    padding: 20px 0;
    width: 100%;
    height: 100vh;
    background-color: var(--back-white);
    z-index: 2;
    .header__wrapper {
        height: 100%;
        display: grid;
        grid-template-columns: 10fr 1fr;
        align-items: center;
    }
    .header__title {
        display: inherit;
        font-size: 46px;
        font-weight: 600;
        align-self: end;
    }
    .header {
        &__menu ul a:hover {
            color: rgb(141, 133, 133);
        }
        &__title, &__giraffe, &__devider {
            display: inherit;
        }
    }
    .header__divider {
        border: 1px solid rgb(223, 128, 62);
        width: 100%;
        height: 2px;
        position: absolute;
        top: 100px;
    }
    .header__menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 100px;
        text-align: center;
        & ul li a {
            font-size: 36px;
        }
    }
    .header__giraffe {
        height: 400px;
    }
}
.hamburger {
    justify-items: end;
    cursor: pointer;
    z-index: 1;
    display: none;
    span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: #000;
        transition: all 1s;
        &:nth-child(2) {
            width: 27px;
            margin: 8px 0;
        }
    }
    &__active {
        span {
            width: 30px;
        }
        span:nth-child(1) {
            margin-top: 10px;
            transform: rotate(-45deg) translateX(-1px);
        }
        span:nth-child(3) {
            transform: rotate(45deg) translateX(-1px);
        }
        span:nth-child(2) {
            display: none;
        }
    }
}
.triangle {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%; 
    border-left: 550px solid transparent;
    border-right: 550px solid transparent;
    border-bottom: calc(480px * 1.732) solid var(--back-white);
    transform: translateY(-50%) rotate(-90.00deg); 
    right: -170px;
  }