.promo {
    position: relative;
    min-height: 1080px;
    background-color: var(--back-orange);
    &__wrapper {
        margin-top: 91px;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        margin-top: 63px;
        font-size: 90px;
        font-weight: 600;
        line-height: 106px;
        text-align: left;
    }
    &__subtitle {
        margin-top: 24px;
        text-align: left;
        max-width: 875px;
    }
    &__btn {
        margin-top: 91px;
    }
    &__img {
        max-width: 540px;
        z-index: 1;
    }
}

.header {
    padding: 45px 0 35px 0;
    border-bottom: 2px solid var(--back-white);
    &__wrapper {
        display: flex;
    justify-content: space-between;
    }
    &__menu {
        align-self: end;
        transition: all 2s;
        z-index: 1;
        & ul {
            display: flex;
            gap: 33px;
            list-style-type: none;
            margin: 0;
            & a {
                font-size: 26px;
                color: #000;
                transition: all 0.5s;
                &:hover {
                    text-decoration: none;
                    color: #FCFCFC;
                }
            }
        }
    }
    &__social {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 24px;
        z-index: 1;
        & a {
            max-width: 40px;
            max-height: 40px;
            & svg {
                width: 100%;
                height: 100%;
            }
            &:hover {
                .svg_phone path {
                    stroke: #FCFCFC;
                }
                .svg_mail path {
                    fill: #FCFCFC;
                }
                .svg_mail rect {
                    stroke: #FCFCFC;
                }
                .svg_location path {
                    fill: #FCFCFC;
                }
                .svg_location circle {
                    stroke: #FCFCFC;
                }
            }
        }
    }
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%; 
    border-left: 550px solid transparent;
    border-right: 550px solid transparent;
    border-bottom: calc(480px * 1.732) solid var(--back-white);
    transform: translateY(-50%) rotate(-90.00deg); 
    right: -170px;
  }