.team {
    padding: 0;
    .container {
        background-color: var(--back-orange);
        padding-bottom: 120px;
    }
    .chapter {
        padding-top: 112px;
    }
    .chapter__section {
        color: var(--back-white);
    }
    .chapter__text {
        color: #000;
    }
}
.slider {
    display: grid;
    grid-template-columns: 170px auto 170px;
    align-items: center;
}
.slider__wrapper {
    align-items: center;
    display: flex;
    height: 928px;
    margin: 0 auto;
    width: 100%;
    max-width: 1340px;
    position: relative;
    overflow: hidden;
    gap: 36px;
}

.slider__item {
    width: 400px;
    max-height: 928px;
    border-radius: 14px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: var(--back-white);
    transition: all 0.3s ease-in-out;
}
.slider__item-img {
    width: 100%;
    height: 74%;
    max-height: 509px;
    img {
        width: 100%;
        max-height: 509px;
        object-fit: cover; // сохранение пропорции изображения
    }
}
.slider__item-descr {
    // background-color: var(--back-white);
    padding: 40px;
    text-align: center;
    height: 26%;
    .descr_name {
        font-size: 30px;
        font-weight: 300;
    }
    .descr_position {
        margin-top: 18px;
        font-size: 22px;
        font-weight: 300;
    }
    .descr_text {
        margin-top: 14px;
    }
}
.slider__item-great {
    // transform: scale(1.12);
    .slider__item-descr {
        padding: 14px 40px;
        .descr_position, .descr_text{
            margin: 0;
        }
    }
}